.masthead {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

body {
  font-family: "Oswald", sans-serif; }

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/military-dog.jpg"); }

.navbar-brand h2,
.navbar-dark .navbar-nav .nav-link {
  color: #012283; }

.btn-primary-custom,
.navbar-dark .navbar-toggler,
.navbar-dark .navbar-toggler-icon {
  background-color: #012283; }

.btn-primary-custom {
  background-color: #012283;
  color: #fff; }

.btn-primary-custom:hover,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-lin {
  color: #5872C1; }

.nav-background {
  background-color: #F0F0F0; }

h1 {
  color: #001655; }
